{% extends 'base.html' %}
{% load static %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Blog</h2>
              <p>  Ready to dive into the world of cattle farming and agriculture? Browse our blog posts, explore different categories, and start your journey towards a deeper understanding of the farming lifestyle. Whether you're looking for practical advice or 
                simply want to immerse yourself in the beauty of rural living, you'll find it here.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

          {% for post in blog_posts %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="{% static 'img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="title">
                <a href="{% url 'blog_post_detail' post.pk %}">{{post.title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">{{post.author.username}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{post.pub_date}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
          {% endfor %}

        </div><!-- End blog posts list -->

        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

{% endblock content %}