{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Welcome to  <strong> {{cr.name}} </strong>Details</h3>
              
              <p>
                Explore a wealth of information about the selected cattle, giving you an 
                in-depth look at {{ cr.name }}. Discover health insights, feeding habits, 
                vaccination records, and more. This comprehensive 
                view allows you to monitor the well-being and breeding program status of your cattle effectively.
              </p>
              <p>
                With data on health check dates, health status, feeding schedules, and vaccination due dates, 
                you'll have all the details you need to make informed decisions. It's your one-stop resource for managing 
                your cattle and ensuring their care is in top condition. 
                Use this information to maintain the health, nutrition, and breeding program of {{ cr.name }} with ease.
              </p>
            </div>
          </div>

          <div class="col-lg-8">
            <center>
                <img src="{{cr.image.url}}">
            </center>
          
            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Cattle Records
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Name:</strong> {{cr.name|title}}</li>
                      <li class="list-group-item"><strong>Breed:</strong> {{cr.breed|title}}</li>
                      <li class="list-group-item"><strong>Age:</strong> {{cr.age}}</li>
                      <li class="list-group-item"><strong>Weight:</strong> {{cr.weight}}</li>
                      <li class="list-group-item"><strong>birth date:</strong> {{cr.birth_date}}</li>
                      <li class="list-group-item"><strong>Gender:</strong> {{cr.gender|title}}</li>
                    </ul>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Cattle health records
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    {% for each in hr %}
                    <ul class="list-group list-group-flush">
                      <center><b>{{forloop.counter}}</b></center>
                      <li class="list-group-item"><strong>Condition:</strong> {{each.condition|title}}</li>
                      <li class="list-group-item" style="white-space: pre-line;"><strong>Treatment:</strong> {{each.treatment|title}}</li>
                      <li class="list-group-item"><strong>Date:</strong> {{each.date}}</li>
                      <div class="text-center"><a href="{% url 'edit_health_record' each.pk %}" class="buy-btn">Edit record</a></div>

                    </ul>
                    {% empty %}
                    No records found 
                    {% endfor %}
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Cattle vaccination records
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    {% for each in vr %}
                    <ul class="list-group list-group-flush">
                      <center><b>{{forloop.counter}}</b></center>
                      <li class="list-group-item"><strong>Vaccine name:</strong> {{each.vaccine_name}}</li>
                      <li class="list-group-item"><strong>Date given:</strong> {{each.date_given}}</li>
                      <li class="list-group-item"><strong>Next due date:</strong> {{each.next_due_date}}</li>
                      
                    </ul>
                    {% empty %}
                    No records found 
                    {% endfor %}
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Cattle due date record.
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    {% for each in dd %}
                    <ul class="list-group list-group-flush">
                      <center><b>{{forloop.counter}}</b></center>
                      <li class="list-group-item"><strong>Sire breed:</strong> {{each.sire_breed}}</li>
                      <li class="list-group-item"><strong>Exposure date:</strong> {{each.exposed_to_sire_date}}</li>
                      <li class="list-group-item"><strong>Estimated Calving date:</strong> {{each.estimated_carlving_date}}</li>
                      
                    </ul>
                    {% empty %}
                    No records found 
                    {% endfor %}
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Cattle feeding record.
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    No records found
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->


{% endblock %}